# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnpm-debug.log

# 환경 변수 파일
.env
.env.*

# 운영체제별 파일
.DS_Store
Thumbs.db

# 로그 파일
logs
*.log

# 빌드 결과물
/dist
/build

# 기타
coverage/
.nyc_output/
.idea/
.vscode/
/generated/prisma


# Docker Compose PID files
docker-compose.pid

# Google Cloud credentials
/google-credentials/

uploads/
letsencrypt/
